body{
    background-color: rgb(42, 40, 40);
    margin: 0;
    padding: 0;
     }
     .clock{
        border: 5px solid rgba(251, 247, 247, 0.903);
        height: 80px;
        width: 80px;
        padding: 20px;
        margin: 250px auto;
        border-radius: 50%;
        /* display: flex; */
     }
     .hand{
         background-color: rgb(53, 100, 142);
         width: 58px;
         height: 2px ;
         position: absolute;
         top: 43%;
         right: 50%;

         transform-origin:100% ;
         transform: rotate(90deg);
        
     }
     .digital{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 385px;
        width: 260px;
        right: 90px;
        bottom: 30px;
      
     }
     h1{
        color: rgb(53, 100, 142);
      
   
        

     }

     